.our-services {
  background-color: $dark;
}

.our-services__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 90px 30px 100px;

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    color: $white;
    margin-bottom: 50px;
  }
}

.our-services__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    width: 19.2vw;
    min-width: 200px;
    min-height: 620px;
    margin-bottom: 30px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.our-services__service {
  display: block;
  width: 100%;
  height: 100%;
  padding: 53px 10px 10px 44px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";
    width: 63px;
    height: 63px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $blue;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 26px;
    right: 25px;
    width: 10px;
    height: 8px;
    background: url("../img/icons/arrow-icon.svg") 50% no-repeat;
    z-index: 2;
  }

  &--production {
    background-image: url("../img/service1-desktop.webp");
  }

  &--mounting {
    background-image: url("../img/service2-desktop.webp");
  }

  &--accessories {
    background-image: url("../img/service3-desktop.webp");
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: $white;
    max-width: 190px;
  }

  &:hover,
  &:focus {
    h3 {
      opacity: 0.8;
    }
  }
}

@media (min-resolution: 2dppx) {
  .our-services__service {
    &--production {
      background-image: url("../img/service1-desktop2x.webp");
    }

    &--mounting {
      background-image: url("../img/service2-desktop2x.webp");
    }

    &--accessories {
      background-image: url("../img/service3-desktop2x.webp");
    }
  }
}

@media (max-width: 1407px) {
  .our-services__list {
    li {
      width: 300px;
    }
  }
}

@media (max-width: $tablet-width) {
  .our-services__wrapper {
    padding: 53px 25px 32px;

    p {
      font-size: 32px;
      line-height: 140.62%;
    }
  }

  .our-services__list {
    flex-direction: column;

    li {
      width: auto;
      min-width: auto;
      min-height: auto;
      flex-grow: 1;
      margin-bottom: 45px;

      &:not(:nth-child(3n)),
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .our-services__service {
    width: auto;
    min-height: 256px;
    padding: 40px 20px 20px 43px;

    &--production {
      background-image: url("../img/service1-tablet.webp");
    }

    &--mounting {
      background-image: url("../img/service2-tablet.webp");
    }

    &--accessories {
      background-image: url("../img/service3-tablet.webp");
    }
  }

  @media (min-resolution: 2dppx) {
    .our-services__service {
      &--production {
        background-image: url("../img/service1-tablet2x.webp");
      }

      &--mounting {
        background-image: url("../img/service2-tablet2x.webp");
      }

      &--accessories {
        background-image: url("../img/service3-tablet2x.webp");
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .our-services__wrapper {
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;

    p {
      font-size: 28px;
      line-height: 140.62%;
      padding-left: 10px;
      margin-bottom: 37px;
    }
  }

  .our-services__service {
    padding: 23px 20px 20px 35px;

    &--production {
      background-image: url("../img/service1-mobile.webp");
    }

    &--mounting {
      background-image: url("../img/service2-mobile.webp");
    }

    &--accessories {
      background-image: url("../img/service3-mobile.webp");
    }
  }

  .our-services__list {
    li {
      margin-bottom: 30px;
    }
  }

  @media (min-resolution: 2dppx) {
    .our-services__service {
      &--production {
        background-image: url("../img/service1-mobile2x.webp");
      }

      &--mounting {
        background-image: url("../img/service2-mobile2x.webp");
      }

      &--accessories {
        background-image: url("../img/service3-mobile2x.webp");
      }
    }
  }
}

@media (min-width: 1921px) {
  .our-services__list {
    li {
      width: 370px;
    }
  }
}
