.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.page-header__wrapper {
  max-width: 1450px;
  margin: 0 auto;
  padding: 34px 20px 0;
  display: flex;
}

.page-header__navigation {
  width: 435px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.page-header__link {
  color: $white;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: auto;
  min-width: 160px;

  &:last-child,
  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.page-header__icon {
  margin-right: 10px;
  margin-top: 5px;
}

.page-header__logo {
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.page-header__toggle {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  line-height: 16px;
  min-width: 180px;
  height: 45px;
  margin-left: 45px;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    font-size: 16px;
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    padding: 20px 25px 0 25px;
  }

  .page-header__link {
    align-self: center;
    padding: 0;
    margin: 0 0 15px;
    min-width: unset;

    span {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:nth-child(8n) {
      margin-right: 0;
    }
  }

  .page-header__navigation {
    max-width: 500px;
    padding-top: 15px;
  }

  .page-header__toggle {
    display: none;
    min-width: none;
  }

  .page-header__icon {
    margin: 0;

    &--email {
      width: 25px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    padding: 20px 15px 0;
  }

  .page-header__navigation {
    max-width: 200px;
    padding-top: 5px;
  }

  .page-header__link {
    margin-right: 25px;
    margin-top: -5px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 25px;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .page-header__logo img {
    width: 38px;
    height: 38px;
  }
}
