.popup-form {
  color: $white;
  background-color: $blue;
  padding: 33px 40px 37px;
  width: 490px;
  min-height: 605px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;

  .popup-form__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 2px;
      top: 10px;
      left: 0;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 35px;
    padding-right: 10px;
  }

  input[type="text"],
  input[type="tel"] {
    margin-bottom: 30px;
    padding-left: 20px;
    flex-grow: 0;
  }

  input[type="submit"] {
    margin-bottom: 38px;
    max-width: none;
    flex-grow: 0;
  }

  textarea {
    overflow-y: auto;
    margin-bottom: 30px;
    padding-left: 25px;
    height: 104px;
    min-height: unset;
  }
}

.popup-form__agreement-checkbox {
  label {
    padding-left: 48px;
    padding-right: 10px;
  }
}
