.questions {
  background-color: $blue;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 686px;
    height: 641px;
    top: -60px;
    left: 50%;
    margin-left: -785px;
    background-image: url("../img/icons/form-icon.svg");
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.questions__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 90px 30px 110px;
}

.questions__container {
  width: 570px;

  h3 {
    font-size: 36px;
    line-height: 51px;
    color: $white;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $white;
    font-weight: normal;
    margin-bottom: 49px;
  }
}

.questions__input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.questions__agreement-block {
  display: flex;
  align-items: center;
  gap: 38px;
}

.questions__agreement-checkbox {
  label {
    padding-left: 32px;
  }
}

@media (max-width: $tablet-width) {
  .questions {
    &::before {
      display: none;
    }

    textarea {
      min-height: 160px;
    }

    input[type="submit"] {
      max-width: 280px;
      padding-bottom: 10px;
    }
  }

  .questions__wrapper {
    display: block;
    width: 100%;
    padding: 83px 88px 105px;
  }

  .questions__container {
    width: auto;

    h3 {
      font-size: 32px;
      line-height: 140.62%;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 53px;
    }
  }
}

@media (max-width: $mobile-width) {
  .questions__wrapper {
    padding: 33px 15px 40px;
  }

  .questions__container {
    h3 {
      font-size: 28px;
      line-height: 140.62%;
    }

    p {
      margin-bottom: 23px;
    }
  }

  .questions__input-container {
    gap: 32px;
    margin-bottom: 30px;
  }

  .questions {
    textarea {
      min-height: 109px;
      margin-bottom: 25px;
    }

    input[type="submit"] {
      width: 100%;
      flex-grow: 1;
    }
  }

  .questions__agreement-block {
    margin: 0 auto;
    max-width: 290px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .questions__agreement-checkbox {
    align-self: flex-start;
  }
}
