*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
}

.paragraph {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 0;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
}
