$tablet-width: 1023px;
$mobile-width: 767px;

$white: #ffffff;
$dark: #1B2D37;
$black: #666666;
$blue: #00B2FF;
$light-grey: #ebebeb;
$light: #FAFAFA;
$grey: #626962;
$grey-transparent: rgba(98, 105, 98, 0.2);
$grey-toggle: #c4c4c4;
$white-opacity: rgba(255, 255, 255, 0.1);
